#**Introdução**

Esse é um desafio para analise de dados de alguns datasets relacioanos ao futebol internacional.

##Importando os datasets

Aqui vamos ter uma automatização que dá acesso ao meu google drive e importa os três datasets fornecidos inicialmente. Para isso vamos importar algumas blibiotecas e dar o caminho completo para acesso a cada um dos datasets.

### Blibiotecas e Acesso ao drive

In [15]:
from google.colab import drive
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import locale

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###Importando os dataSets

In [16]:
db_goalscores_0 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DataSet_Football/goalscorers.csv', sep = ',')
db_results_0 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DataSet_Football/results.csv', sep = ',')
db_shootouts_0 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DataSet_Football/shootouts.csv', sep = ',')

In [3]:
db_goalscores_0.head()

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False

In [4]:
db_results_0.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [5]:
db_shootouts_0.head()

         date    home_team         away_team       winner
0  1967-08-22        India            Taiwan       Taiwan
1  1971-11-14  South Korea  Vietnam Republic  South Korea
2  1972-05-07  South Korea              Iraq         Iraq
3  1972-05-17     Thailand       South Korea  South Korea
4  1972-05-19     Thailand          Cambodia     Thailand

###Criei uma coluna para descobrir quem perdeu

In [17]:
db_shootouts_0['looser'] = " "

for i in range(len(db_shootouts_0['date'])):
  if db_shootouts_0['home_team'][i] == db_shootouts_0['winner'][i]:
    db_shootouts_0['looser'][i] = db_shootouts_0['away_team'][i]
  else:
    db_shootouts_0['looser'][i] = db_shootouts_0['home_team'][i]


db_shootouts_0.head()

         date    home_team         away_team       winner            looser
0  1967-08-22        India            Taiwan       Taiwan             India
1  1971-11-14  South Korea  Vietnam Republic  South Korea  Vietnam Republic
2  1972-05-07  South Korea              Iraq         Iraq       South Korea
3  1972-05-17     Thailand       South Korea  South Korea          Thailand
4  1972-05-19     Thailand          Cambodia     Thailand          Cambodia

###Criei duas colunas para descobrir quem ganhou em casa e quem perdeu em casa

In [18]:
db_shootouts_0['home_winner'] = "_"
db_shootouts_0['home_looser'] = "_"


for i in range(len(db_shootouts_0['date'])):
  if db_shootouts_0['home_team'][i] == db_shootouts_0['winner'][i]:
    db_shootouts_0['home_winner'][i] = db_shootouts_0['home_team'][i]
  else:
    db_shootouts_0['home_looser'][i] = db_shootouts_0['home_team'][i]


db_shootouts_0.head()

,date,home_team,away_team,winner,looser,home_winner,home_looser
0,1967-08-22,India,Taiwan,Taiwan,India,_,India
1,1971-11-14,South Korea,Vietnam Republic,South Korea,Vietnam Republic,South Korea,_
2,1972-05-07,South Korea,Iraq,Iraq,South Korea,_,South Korea
3,1972-05-17,Thailand,South Korea,South Korea,Thailand,_,Thailand
4,1972-05-19,Thailand,Cambodia,Thailand,Cambodia,Thailand,_

##Convertendo a Data do tipo str para o tipo date

In [19]:
for i in range(len(db_goalscores_0['date'])):
  db_goalscores_0['date'][i] = datetime.strptime(db_goalscores_0['date'][i], '%Y-%m-%d').date()

<ipython-input-19-071b7864137b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db_goalscores_0['date'][i] = datetime.strptime(db_goalscores_0['date'][i], '%Y-%m-%d').date()

In [20]:
for i in range(len(db_results_0['date'])):
  db_results_0['date'][i] = datetime.strptime(db_results_0['date'][i], '%Y-%m-%d').date()

<ipython-input-20-3fe0aad742f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db_results_0['date'][i] = datetime.strptime(db_results_0['date'][i], '%Y-%m-%d').date()

In [21]:
for i in range(len(db_shootouts_0['date'])):
  db_shootouts_0['date'][i] = datetime.strptime(db_shootouts_0['date'][i], '%Y-%m-%d').date()

## Criar um fitro de Data
Ao invés de trabalharmos com o DataSet por completo podemos selecionar um periodo de tempo para um analise mais especifica de momentos históricos

In [24]:
data_max = max(max(db_goalscores['date']),   max(db_shootouts['date']), max(db_results['date']))


data_min = min(min(db_goalscores['date']),   min(db_shootouts['date']), min(db_results['date']))

print(f'A ultima partida registrada é {data_max}, a primeira partida registrada é {data_min}.')

A ultima partida registrada é 2023-06-20, a primeira partida registrada é 1872-11-30.

In [25]:
print(f'A pesquisa pode ser feita entre {data_min} e {data_max}!')
a_comeco = input('Digite o ano para o começo da pesquisa: ')

a_fim = input(f'Escolha um ano para o fim da pesquisa: ')


while a_comeco > a_fim:
  print(f"ANO INVÁLIDO")
  a_fim = input(f'Escolha um ano maior que {int(a_comeco)-1}: ')

a_comeco = a_comeco + '-01-01'
a_fim = a_fim + '-12-31'

date_comeco = datetime.strptime(a_comeco, '%Y-%m-%d').date()
date_fim = datetime.strptime(a_fim, '%Y-%m-%d').date()

A pesquisa pode ser feita entre 1872-11-30 e 2023-06-20!
Digite o ano para o começo da pesquisa: 2015
Escolha um ano para o fim da pesquisa: 2019

##Ajustando os datasets com os filtros de Datas

In [26]:
db_goalscores = db_goalscores_0
db_results = db_results_0
db_shootouts = db_shootouts_0



db_goalscores = db_goalscores[(db_goalscores['date'] >= date_comeco) & (db_goalscores['date'] <= date_fim)]
db_results = db_results[(db_results['date'] >= date_comeco) & (db_results['date'] <= date_fim)]
db_shootouts = db_shootouts[(db_shootouts['date'] >= date_comeco) & (db_shootouts['date'] <= date_fim)]

###Verificando valores nulos nos datasets

In [27]:
db_goalscores.info()  #investigar o motivo de jogadores nulos e o motivo de tempos nulos?

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5220 entries, 33138 to 38357
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       5220 non-null   object
 1   home_team  5220 non-null   object
 2   away_team  5220 non-null   object
 3   team       5220 non-null   object
 4   scorer     5220 non-null   object
 5   minute     5220 non-null   float64
 6   own_goal   5220 non-null   bool
 7   penalty    5220 non-null   bool
dtypes: bool(2), float64(1), object(5)
memory usage: 295.7+ KB

In [28]:
db_results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5013 entries, 37047 to 42059
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        5013 non-null   object
 1   home_team   5013 non-null   object
 2   away_team   5013 non-null   object
 3   home_score  5013 non-null   int64
 4   away_score  5013 non-null   int64
 5   tournament  5013 non-null   object
 6   city        5013 non-null   object
 7   country     5013 non-null   object
 8   neutral     5013 non-null   bool
dtypes: bool(1), int64(2), object(6)
memory usage: 357.4+ KB

In [29]:
db_shootouts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94 entries, 410 to 503
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         94 non-null     object
 1   home_team    94 non-null     object
 2   away_team    94 non-null     object
 3   winner       94 non-null     object
 4   looser       94 non-null     object
 5   home_winner  94 non-null     object
 6   home_looser  94 non-null     object
dtypes: object(7)
memory usage: 5.9+ KB

##Analises descritiva dos datasets

In [30]:
db_shootouts.describe()

,date,home_team,away_team,winner,looser,home_winner,home_looser
count,94,94,94,94,94,94,94
unique,72,62,66,61,66,35,39
top,2016-06-03,South Africa,Zimbabwe,Chile,South Africa,_,_
freq,5,8,4,5,4,48,46

In [31]:
#db_goalscores.describe() "não gerou informações importantes"

In [32]:
#db_results.describe() "não gerou informações importantes"

###Maior Vencedor no Período

In [33]:
vencedores = db_shootouts['winner'].unique()
vencedores = sorted(vencedores)
df_vencedores = db_shootouts['winner'].value_counts().to_frame()

print(f'No período estudado temos {len(vencedores)} times vencedores, o que mais venceu no período foi o {df_vencedores.index[0]}!')
df_vencedores.rename(columns={df_vencedores.columns[0]: 'Qtd_Vitórias'}).head(5)

No período estudado temos 61 times vencedores, o que mais venceu no período foi o  Chile!

              Qtd_Vitórias
Chile                    5
Zambia                   5
South Africa             4
Botswana                 4
Padania                  4

###Maior Perdedor

In [34]:
perdedores = db_shootouts['looser'].unique()
perdedores = sorted(perdedores)
df_perdedores = db_shootouts['looser'].value_counts().to_frame()

print(f'No período estudado temos {len(perdedores)} times perdedores, o que mais perdeu no período foi o {df_perdedores.index[0]}!')
df_perdedores.rename(columns={df_perdedores.columns[0]: 'Qtd_derrotas'}).head(5)

No período estudado temos 66 times perdedores, o que mais perdeu no período foi o South Africa!

                 Qtd_derrotas
South Africa                4
Lesotho                     4
Namibia                     4
Iraqi Kurdistan             3
Zimbabwe                    3

###Aproprimorando a tabela de resultados
O objetivo vai ser acrescentar na tabela quantas vezes cada time ganhou em casa, perdeu em casa, ganhou fora de casa e perdeu fora de casa.

In [35]:
##vitorias = vitorias em casa + vitorias fora de casa (V = VC + VF)
##analogamente derrotas = derrotas em casa + derrotas fora de casa (D = DC + DF)

db_shootouts.head()

,date,home_team,away_team,winner,looser,home_winner,home_looser
410,2015-01-23,Iran,Iraq,Iraq,Iran,_,Iran
411,2015-01-23,Japan,United Arab Emirates,United Arab Emirates,Japan,_,Japan
412,2015-01-30,Curaçao,Aruba,Aruba,Curaçao,_,Curaçao
413,2015-02-07,Equatorial Guinea,DR Congo,DR Congo,Equatorial Guinea,_,Equatorial Guinea
414,2015-02-08,Ivory Coast,Ghana,Ivory Coast,Ghana,Ivory Coast,_

In [36]:
vencedores_casa = db_shootouts['home_winner'].unique()
vencedores_casa = sorted(vencedores_casa)
df_vencedores_casa = db_shootouts['home_winner'].value_counts().to_frame()
a = df_vencedores_casa.index[0]
df_vencedores_casa = df_vencedores_casa.drop(a)
print(f'No período estudado temos {len(vencedores_casa)} times vencedores em casa, o que mais venceu em casa no período foi o {df_vencedores_casa.index[0]}!')

df_vencedores_casa.rename(columns={df_vencedores_casa.columns[0]: 'Qtd_Vitórias_casa'}).head(5)

No período estudado temos 35 times vencedores em casa, o que mais venceu em casa no período foi o Zambia!

              Qtd_Vitórias_casa
Zambia                        4
South Africa                  4
Thailand                      3
Padania                       2
Abkhazia                      2

In [37]:
perdedores_casa = db_shootouts['home_looser'].unique()
perdedores_casa = sorted(perdedores_casa)
df_perdedores_casa = db_shootouts['home_looser'].value_counts().to_frame()
a = df_perdedores_casa.index[0]
df_perdedores_casa = df_perdedores_casa.drop(a)
print(f'No período estudado temos {len(perdedores_casa)} times vencedores em casa, o que mais venceu em casa no período foi o {df_perdedores_casa.index[0]}!')

df_perdedores_casa.rename(columns={df_perdedores_casa.columns[0]: 'Qtd_Derrotas_casa'}).head(5)

No período estudado temos 39 times vencedores em casa, o que mais venceu em casa no período foi o South Africa!

              Qtd_Derrotas_casa
South Africa                  4
Switzerland                   2
Colombia                      2
Namibia                       2
Lesotho                       2

###Juntando os datasets
Assim teremos um panorama geral da situação de cada time

In [38]:
#pd.merge(left2, right2, left_index = True, right_index = True, how = "inner, outer, left, right")

resultados_1 = pd.merge(df_vencedores, df_perdedores, left_index = True, right_index = True, how = 'outer')
resultados_2 = pd.merge(df_vencedores_casa, df_perdedores_casa, left_index = True, right_index = True, how = 'outer')
resultados_3 = pd.merge(resultados_1, resultados_2, left_index = True, right_index = True, how = 'outer')
resultados_3.fillna(0)

                 winner  looser  home_winner  home_looser
Abkhazia            2.0     2.0          2.0          1.0
Algeria             1.0     0.0          0.0          0.0
Andorra             0.0     1.0          0.0          1.0
Angola              1.0     1.0          1.0          0.0
Argentina           1.0     2.0          1.0          1.0
...                 ...     ...          ...          ...
Western Armenia     2.0     0.0          0.0          0.0
Western Isles       1.0     0.0          0.0          0.0
Zambia              5.0     2.0          4.0          2.0
Zimbabwe            3.0     3.0          1.0          1.0
Åland Islands       1.0     0.0          0.0          0.0

[103 rows x 4 columns]

###Derrotas em casa e derrotas fora de casa

In [39]:
resultados_3['away_looser'] = resultados_3['looser'] - resultados_3['home_looser']
resultados_3['away_winner'] = resultados_3['winner'] - resultados_3['home_winner']

resultados_3 = resultados_3.fillna(0)
resultados_3 = resultados_3[['winner', 'home_winner', 'away_winner', 'looser', 'home_looser', 'away_looser']]
resultados_3

,winner,home_winner,away_winner,looser,home_looser,away_looser
Abkhazia,2.0,2.0,0.0,2.0,1.0,1.0
Algeria,1.0,0.0,0.0,0.0,0.0,0.0
Andorra,0.0,0.0,0.0,1.0,1.0,0.0
Angola,1.0,1.0,0.0,1.0,0.0,0.0
Argentina,1.0,1.0,0.0,2.0,1.0,1.0
...,...,...,...,...,...,...
Western Armenia,2.0,0.0,0.0,0.0,0.0,0.0
Western Isles,1.0,0.0,0.0,0.0,0.0,0.0
Zambia,5.0,4.0,1.0,2.0,2.0,0.0
Zimbabwe,3.0,1.0,2.0,3.0,1.0,2.0
Åland Islands,1.0,0.0,0.0,0.0,0.0,0.0

###Maior Goleador do Período

In [40]:
df_goleadores = db_goalscores['scorer'].value_counts().to_frame()
goleadores = db_goalscores['scorer'].unique()
df_goleadores.rename(columns={df_goleadores.columns[0]: 'Qtd_Gols'}, inplace = True)
a = df_goleadores['Qtd_Gols'][0]
print(f'Temos um total de {len(goleadores)} jogadores onde o maior goleador foi o {df_goleadores.index[0]} com {a} gols! ')

df_goleadores

Temos um total de 2192 jogadores onde o maior goleador foi o Cristiano Ronaldo com 38 gols!

                    Qtd_Gols
Cristiano Ronaldo         38
Robert Lewandowski        32
Harry Kane                26
Ali Mabkhout              24
Romelu Lukaku             24
...                      ...
Manjrekar James            1
Randall Azofeifa           1
Hao Junmin                 1
Zheng Zhi                  1
Nasser Al-Gahwashi         1

[2192 rows x 1 columns]